{% extends "base.html" %}

{% block content %}
    {% include "vokabeltrainer/lernen_menu.html" %}

    <div
    {% if solution_correct %} style="color:green;"{% else %} style="color:red;" {% endif %}>

    </div>
    {% if solution_correct %}
        <div style="color:green; max-width: 18em;">{{ message_text|safe }}</div>
    <h4>
        <span style="font-weight: bolder">"{{ question.question }}"</span>
         =
        <span style="font-weight: bolder">{{ question.answer }} </span>
    </h4>
    <div>
        <p>{{ question.examples|safe }}</p>
    </div>
    {% endif %}



    {% if not solution_correct %}
        <div style="color:red; max-width:18em;">{{ message_text }}</div>
        <p>
            <span style="font-weight: bolder">"{{ question.question }}"</span> auf {{ question.lang_to_find }} = ???
        </p>
        <div>
            {{ question.hint|safe }}
        </div>
        {% if question.lang_to_find == 'german' %}
            <div>
            Bsp.:
            {{ question.examples|safe }}
            </div>
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <input type="hidden" name="lang_to_find" value="{{ question.lang_to_find }}">
            <input type="text" name="answer" placeholder="Antwort eintragen">
            <input type="submit" value="Prüfen!">
        </form>

        <div style="border: 1px solid black; max-width: 40em;">
        <h5><a onclick="$('#hint').show();">Ich komm einfach nicht drauf. Zeig mir die Antwort. </a></h5>
        <div id="hint">
            {{ question.answer }}
        </div>
    </div>
    {% endif %}

    <div>
        {% if act_set_id %}
            <a href="{% url 'lernen' act_set_id %}">
        {% else %}
            <a href="{% url 'lernen' %}">
        {% endif %}
            Nächste Frage</a> </div>
{% endblock %}