{% extends "base.html" %}

{% block content %}
    <h2>Lernen</h2>
    <ul>
        <li><a href="{% url 'lernen' %}">Alle</a></li>
    {% for set in sets %}
        <li><a href="{% url 'lernen' set.id %}">{{ set.name }}</a></li>
    {% endfor %}
    </ul>
    <h4>Wie übersetzt man:</h4>
    <p>
    {{ question_set.question }}

    </p>
    <div style="border: 1px solid black; max-width: 40em;">
        <h5><a onclick="$('#hint').show();">Hinweis einblenden</a></h5>
        <div id="hint">
            {{ question_set.hint }}
        </div>
    </div>
    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="question_set_id" value="{{ question_set.id }}">
        <input type="text" name="answer" placeholder="Antwort eintragen">
        <input type="submit" value="Prüfen!">
    </form>
{% endblock %}