{% extends "base.html" %}

{% block sitetitle %}
    Lernen
{% endblock %}

{%  block heading %}
    {% include "vokabeltrainer/lernen_menu.html" %}
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-heading text-center">
            <div  {% if solution_correct %} style="color:green;"{% else %} style="color:red;" {% endif %}>
                {{ message_text|safe }}
                <div>
                    {% if solution_correct %}
                    <span style="font-weight: bolder">"{{ question.question }}"="{{ question.answer }}" </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                {%  if not solution_correct %}
                    {% include "vokabeltrainer/lernen_form.html"%}
                {% endif %}
                <div>

                    <a class="btn btn-success"
                        href="{% if act_set_id %}{% url 'lernen' act_set_id %}{% else %}{% url 'lernen' %}{% endif %}">
                        Nächste Frage
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                {% if solution_correct or question.lang_to_find == 'german'%}
                    <div>
                        {{ question.hint|safe }}
                    </div>
                    <div>
                        Bsp.:
                        {{ question.examples|safe }}
                    </div>
                {% endif %}
                {%  if not solution_correct %}
                    <a class="btn btn-danger" onclick="$('#hint').show();">Antwort anzeigen. </a>
                    <div id="hint">
                        {{ question.answer }}
                    </div>
                {% endif %}


            </div>


        </div>
    </div>





{% endblock %}