<form method="post" action="{% url "lernen_ergebnis" %}" id="lernen_form">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{ question.id }}">
    <input type="hidden" name="lang_to_find" value="{{ question.lang_to_find }}">
    <input type="hidden" name="count_this" value="{{ question.count_this }}" id="count_this">
    <input class="form-control" type="text" name="answer" placeholder="Antwort eintragen">
    <input class="btn btn-primary"type="submit" value="Prüfen!">
</form>