{% extends "base.html" %}

{% block sitetitle %}
    Lernen
{% endblock %}

{%  block heading %}
    {% include "vokabeltrainer/lernen_menu.html" %}
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-heading text-center" >
            Was heißt
            <span style="font-weight: bolder">"{{ question.question }}"</span>
            auf
            <span style="font-weight: bolder">
                {% if question.lang_to_find == 'german' %}
                deutsch
                {% else %} englisch {% endif %}</span>?
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                {% include "vokabeltrainer/lernen_form.html"%}
            </div>
            <div class="col-md-8">
                <a class="btn btn-success" onclick="$('#hint').show();">Hinweis einblenden</a>
                <div id="hint">
                    {{ question.hint|safe }}
                    {% if question.lang_to_find == 'german' %}
                        <div>
                        {{ question.examples|safe }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <a class="btn btn-danger" onclick="show_answer()">Antwort anzeigen. </a>
                    <div id="answer">
                        {{ question.answer }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}