{% extends "base.html" %}

{% block content %}
    <h2>Vokabeln</h2>
    <ul>
        <li><a href="{% url 'new_vokabel' %}">Neue Vokabel dazu</a>
</li>
        {% for vokabel in words_to_learn %}
            <li><a href="{% url 'update_vokabel' vokabel.id %}">
                <span class="bold">{{ vokabel.english }}</span>
                (
                    {% for set in vokabel.vokabel_sets.all %}
                        {{ set }},
                    {% endfor %}
                )
            </a></li>
        {% endfor %}
    </ul>
{% endblock %}